.page_header {
    position: relative;
    width: 791px;
    height: 45px;
    background: url('https://raw.githubusercontent.com/GreenyTF/kringe228/main/OpenVKcustomiseShit.png');
    background-repeat: no-repeat;
    background-position: 0;
}